@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

button {
    cursor:pointer;
}

#nav {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-wrapper {
    width: 70%;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul {
    display: flex;
    gap: 2em;
}

.nav-logo {
    height: 2em;
}

.nav-menu a {
    font-weight: 600;
}

.nav-menu a:hover {
    color: #3AAFA9;
}

.nav-menu a:visited {
    color: #3AAFA9;
}

#main {
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, white 0%, white 65%, #3AAFA9 65%, #3AAFA9 100%);
}

.main-upper {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    height: 50vh;
}

.main-upper-left {
    width: inherit;
    z-index: 2;
    margin-bottom: 2em;
}

.main-upper-left h1 {
    width: 85%;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0;
    margin-bottom: 0.5em;
}

.main-button {
    padding: 1em;
    width: 10em;
    background-color: #17252A;
    border: none;
    border-radius: 7px;
    font-weight: 400;
}

.main-button a {
    color: #FEFFFF;
}

.main-image {
    position: absolute;
    z-index: 0;
    top: 7em;
    right: 12em;
    object-fit:contain;
    width: 45em;
    height: auto;
}

.main-form form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 14.2em;
    padding: 1em;
    background-color: #DEF2F1;
    border-radius: 0.5rem;
}

.main-form .input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.main-form .input-box span {
    font-weight: 500;
}

.main-form .input-box input, .main-form .input-box select{
    padding: 0.5em;
    outline: none;
    border: none;
    background-color: #FEFFFF;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.main-form .btn-submit-form {
    flex: 1 1 7rem;
    padding: 0.6em 2em;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #3AAFA9;
    font-weight: 600;
}

.main-form .btn-submit-form:hover {
    background-color: #2B7A78;
    color: #FEFFFF;
    cursor: pointer;
}

#vehicles {
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    display: grid;
    grid-template-rows: 12em auto;
    grid-template-columns: 10em 1fr 20em;
    place-items: center;
}

.vehicles-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vehicles-header h2 {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.3em;
}
.vehicles-header h3 {
    font-weight: 500;
}
 h4 {
    font-weight: 400;
}

.vehicle-left {
    grid-column: 1;
}

.vehicle-details {
    grid-column: 3;
}

.vehicle-name-table, .vehicle-details-table {
    border-spacing: 0 0.5em;
}

.vehicle-name-table td {
    width: 10em;
    height: 1em;
    padding: 1em;
    background-color: #DEF2F1;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
.vehicle-name-table td:hover {
    background-color: #2B7A78;
}
.vehicle-name-table td:hover a {
    color: #FEFFFF;
}

.vehicle-details-table td {
    width: 10em;
    height: 1em;
    padding: 1em;
    background-color: #DEF2F1;
    font-weight: 500;
    border-radius: 10px;
}

.vehicle-details-table th {
    width: 8em;
    text-align: left;
}

.button-container {
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: #2B7A78;
    padding: 0.8em 0;
    border-radius: 5px;
}

.button-container:hover {
    background-color: #3AAFA9;
}
.button-container:hover a {
    color: #17252A;
}

.button-container a {
    color: #FEFFFF;
    font-weight: 600;
}

.vehicle-picture {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vehicle-picture img {
    width: 80%;
    height: 80%;
    object-fit:contain;
}

.selected td{
    background-color: #2B7A78;
}
.selected a {
    color: #FEFFFF;
}

#locations {
    height: 70vh;
}

.locations-header, .contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3em;
}

#location-map {
    height: 20em;
    width: 50em;
}

.locations-details {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.location-item {
    width: 16em;
    background-color: #3AAFA9;
    padding: 1em;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

.location-item p {
    color: #FEFFFF;
}

.location-item .location-street {
    font-weight: 600;
}

#contact {
    width: 70%;
    height: 70vh;
    margin: auto;
}

.contact-content {
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 16em;
    background-color: #3AAFA9;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-info * {
    color: #FEFFFF;
}

#contact h2 {
    font-size: 1.3em;
}

.contact-info-header p {
    font-size: 0.9em;
}

.contact-info-details {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-details {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact-info-sm {
    display: flex;
    justify-content: space-around;
}

.contact-form {
    width: 42em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

.contact-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form .form-names {
    display: flex;
    justify-content: space-between;
    width: 42em;
}

.contact-form .name input{
    width: 20.2rem;
    padding: 0.3em;
    border: none;
    border-bottom: 1px solid #2B7A78;
}

.contact-form .email input {
    width: 41.2rem;
    padding: 0.3em;
    border: none;
    border-bottom: 1px solid #2B7A78;
}

.contact-form textarea {
    width: 41.4rem;
    height: 8em;
    padding: 0.3em;
    border: none;
    border-bottom: 1px solid #2B7A78;
    resize: none;
}

.contact-form .contact-form-subtitle {
    font-weight: 500;
}

.contact-form .contact-form-btn {
    padding: 0.5em;
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 8px;
    background-color: #3AAFA9;
    font-weight: 600;
    font-size: 1em;
    float: right;
    align-self: flex-end;
    margin-bottom: 0;
}

footer {
    background-color: #3AAFA9;
    text-align: center;
    padding: 20px;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-socials {
    width: 8em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin-bottom: 0.5em;
}

.footer-socials i{
    font-size: 2em;
}

.footer-info {
    font-weight: 500;
    display: flex;
    gap: 1em;
}

.footer-info a:hover {
    color: #FEFFFF;
}

footer h4 {
    margin: auto;
    width: fit-content;
    font-weight: 500;
    color: #404040;
}